<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clearfaun.com.pokebuspro" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_ic_launcher"

        android:label="@string/app_name"
        android:theme="@style/Theme.DesignBaddAss" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBSD0_ViGwMwNooLtSDXXX1dWiVFvpU680" />

        <activity


            android:name=".MapsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_maps"
            android:taskAffinity="clearfaun.com.pokebuspro.MapsActivity" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />



            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".GetPermissionActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name"
            android:parentActivityName=".MapsActivity"
            android:name="AboutScreen"/>
        <activity android:label="@string/app_name"

            android:name="BusMap"/>
        <activity android:label="@string/app_name" android:name="AirplaneMode"/>
        <activity android:label="@string/app_name" android:name="NoConnection"/>
        <activity android:label="@string/app_name"
            android:parentActivityName=".MapsActivity"
            android:name="LicenseActivity"/>



        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:icon="@mipmap/ic_launcher_black"
            android:clearTaskOnLaunch="true"
            android:name=".PokeBusNoUI"
            android:label="@string/NoUI"
            android:taskAffinity="clearfaun.com.pokebuspro.PokeBus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Service"
            android:exported="false"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="bba7075dbe466747913fe0d3bc5d05a86a6f0fcb"/>
    </application>

</manifest>
